
body{
    display: flex;
    width: 100%;
    height: 100vh;
    margin: auto;
    
}

.nav{
   float: left;
   width: 20vw;
   height: 100vw;
   background-color: #209ca0;
   border: 0.3vw solid rgb(233, 217, 95);
   border-radius: 1vw;
   text-align: center;
   

}
.nav h1{
    font-size: 3vw;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icon{
    width: 5vw;
    height: 5vw;
    margin-top: 2vw;
   
}

.nav ul{
    list-style-type: none;
    padding: 6%;
    margin-top: 8vw;
    font-size: 2vw;
}

.nav a{
    text-decoration: none;
    background-color: azure;
    font-size: 2vw;
    
    
}
 
.a2{
    background-color: aqua;
    
    

}


.nav p{
    color: azure;
    font-size: 1.5vw;
    margin-top: 25vw;
    text-align: center;
}

.ultimo{
    font-size: 2vw;
}



.Cuadroropa{
    display: flex;
    position: absolute;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50vw;
    height: 59.8vw;
    background-color: #209ca0;
    padding: 20%;
    border: 0.3vw solid rgb(233, 217, 95);
    border-radius: 2vw;
    margin-left: 21vw;
}

.Cuadroropa h2{
  position: absolute;
  margin-top: -16vw;
  margin-left: -17vw;
  font-size: 3vw;
  color: azure;
}

.chaqueta{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: -10vw;
    margin-left: -10vw;
    width: 10vw;
    height: 15vw;
    background-color: azure;
    border: 1vw solid rgb(166, 216, 219);
    border-radius: 1vw;
}

.imgchaqueta{
    width: 10vw;
    height: 10vw;
    
}

.chaqueta p{
    position: absolute;
    margin-left: -0.1vw;
    text-align: center;
    font-size: 0.9vw;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10.1vw;
    width: 10.3vw;
    height: 5.1vw;
    background-color: rgb(133, 233, 233);
    border-radius: 0.5vw;
    

}

.chaquetanegra{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: -10vw;
    margin-left: 10vw;
    width: 10vw;
    height: 15vw;
    background-color: azure;
    border: 1vw solid rgb(166, 216, 219);
    border-radius: 1vw;
}

.chaquetanp{
    position: absolute;
    margin-left: -0.1vw;
    text-align: center;
    font-size: 0.9vw;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10.1vw;
    width: 10.3vw;
    height: 5.1vw;
    background-color: rgb(133, 233, 233);
    border-radius: 0.5vw;

}

.chaquetan{
    width: 10vw;
    height: 10vw;

}


.chaquetablanca{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: -10vw;
    margin-left: 30vw;
    width: 10vw;
    height: 15vw;
    background-color: azure;
    border: 1vw solid rgb(166, 216, 219);
    border-radius: 1vw;
}

.chaquetabp{
    position: absolute;
    margin-left: -0.1vw;
    text-align: center;
    font-size: 0.9vw;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10.1vw;
    width: 10.3vw;
    height: 5.1vw;
    background-color: rgb(133, 233, 233);
    border-radius: 0.5vw;
}

.chaquetab{
    width: 10vw;
    height: 10vw;

}


.chaquetahombre{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 10vw;
    margin-left: -10vw;
    width: 10vw;
    height: 15vw;
    background-color: azure;
    border: 1vw solid rgb(166, 216, 219);
    border-radius: 1vw;
}

.chaquetahp{
    position: absolute;
    margin-left: -0.1vw;
    text-align: center;
    font-size: 0.8vw;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10.1vw;
    width: 10.3vw;
    height: 5vw;
    background-color: rgb(133, 233, 233);
    border-radius: 0.5vw;

}

.chaquetah{
    width: 10vw;
    height: 10vw;

}

.chaquetahombrea{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 10vw;
    margin-left: 10vw;
    width: 10vw;
    height: 15vw;
    background-color: azure;
    border: 1vw solid rgb(166, 216, 219);
    border-radius: 1vw;
}

.chaquetahap{
    position: absolute;
    display: flex;
    margin-left: -0.1vw;
    text-align: center;
    font-size: 0.8vw;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10.1vw;
    width: 10.3vw;
    height: 5vw;
    background-color: rgb(133, 233, 233);
    border-radius: 0.5vw;

}

.chaquetaha{
    width: 10vw;
    height: 10vw;

}

.camisapresion{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 10vw;
    margin-left: 30vw;
    width: 10vw;
    height: 15vw;
    background-color: azure;
    border: 1vw solid rgb(166, 216, 219);
    border-radius: 1vw;
}

.camisapresionp{
    position: absolute;
    margin-left: -0.1vw;
    text-align: center;
    font-size: 0.9vw;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10.1vw;
    width: 10.2vw;
    height: 5vw;
    background-color: rgb(133, 233, 233);
    border-radius: 0.5vw;

}

.camisapresionimg{
    width: 10vw;
    height: 10vw;

}

.camisapolo{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: -10vw;
    margin-left: 50vw;
    width: 10vw;
    height: 15vw;
    background-color: azure;
    border: 1vw solid rgb(166, 216, 219);
    border-radius: 1vw;
}

.camisapolop{
    position: absolute;
    margin-left: -0.1vw;
    text-align: center;
    font-size: 0.9vw;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10.1vw;
    width: 10.2vw;
    height: 5vw;
    background-color: rgb(133, 233, 233);
    border-radius: 0.5vw;

}

.camisapoloimg{
    width: 10vw;
    height: 10vw;

}

.camisadeportiva{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 10vw;
    margin-left: 50vw;
    width: 10vw;
    height: 15vw;
    background-color: azure;
    border: 1vw solid rgb(166, 216, 219);
    border-radius: 1vw;
}

.camisadeportivap{
    position: absolute;
    margin-left: -0.1vw;
    text-align: center;
    font-size: 0.9vw;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10.1vw;
    width: 10.2vw;
    height: 5vw;
    background-color: rgb(133, 233, 233);
    border-radius: 0.5vw;

}

.camisadeportivaimg{
    width: 10vw;
    height: 10vw;

}

.camisarock{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 30vw;
    margin-left: -10vw;
    width: 10vw;
    height: 15vw;
    background-color: azure;
    border: 1vw solid rgb(166, 216, 219);
    border-radius: 1vw;
}

.camisarockp{
    position: absolute;
    margin-left: -0.1vw;
    text-align: center;
    font-size: 0.9vw;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10.1vw;
    width: 10.2vw;
    height: 5vw;
    background-color: rgb(133, 233, 233);
    border-radius: 0.5vw;

}

.camisarockimg{
    width: 10vw;
    height: 10vw;

}

.camisaanime{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 30vw;
    margin-left: 10vw;
    width: 10vw;
    height: 15vw;
    background-color: azure;
    border: 1vw solid rgb(166, 216, 219);
    border-radius: 1vw;
}

.camisaanimep{
    position: absolute;
    margin-left: -0.1vw;
    text-align: center;
    font-size: 0.9vw;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10.1vw;
    width: 10.2vw;
    height: 5vw;
    background-color: rgb(133, 233, 233);
    border-radius: 0.5vw;

}

.camisaanimemg{
    width: 10vw;
    height: 10vw;

}

.pantalondril{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 30vw;
    margin-left: 30vw;
    width: 10vw;
    height: 15vw;
    background-color: azure;
    border: 1vw solid rgb(166, 216, 219);
    border-radius: 1vw;
}

.pantalondrilp{
    position: absolute;
    margin-left: -0.1vw;
    text-align: center;
    font-size: 0.9vw;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10.1vw;
    width: 10.2vw;
    height: 5vw;
    background-color: rgb(133, 233, 233);
    border-radius: 0.5vw;

}

.pantalondrilimg{
    width: 10vw;
    height: 10vw;

}


.pantaloncamuflado{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 30vw;
    margin-left: 50vw;
    width: 10vw;
    height: 15vw;
    background-color: azure;
    border: 1vw solid rgb(166, 216, 219);
    border-radius: 1vw;
}

.pantaloncamufladop{
    position: absolute;
    margin-left: -0.1vw;
    text-align: center;
    font-size: 0.9vw;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10.1vw;
    width: 10.2vw;
    height: 5vw;
    background-color: rgb(133, 233, 233);
    border-radius: 0.5vw;

}

.pantaloncamufladoimg{
    width: 10vw;
    height: 10vw;

}


.joger{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 50vw;
    margin-left: -10vw;
    width: 10vw;
    height: 15vw;
    background-color: azure;
    border: 1vw solid rgb(166, 216, 219);
    border-radius: 1vw;
}

.jogerp{
    position: absolute;
    margin-left: -0.1vw;
    text-align: center;
    font-size: 0.9vw;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10.1vw;
    width: 10.2vw;
    height: 5vw;
    background-color: rgb(133, 233, 233);
    border-radius: 0.5vw;

}

.jogerimg{
    width: 10vw;
    height: 10vw;

}

.pantaloncolores{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 50vw;
    margin-left: 10vw;
    width: 10vw;
    height: 15vw;
    background-color: azure;
    border: 1vw solid rgb(166, 216, 219);
    border-radius: 1vw;
}

.pantaloncoloresp{
    position: absolute;
    margin-left: -0.1vw;
    text-align: center;
    font-size: 0.9vw;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10.1vw;
    width: 10.2vw;
    height: 5vw;
    background-color: rgb(133, 233, 233);
    border-radius: 0.5vw;

}

.pantaloncoloresimg{
    width: 10vw;
    height: 10vw;

}


.pantaloncamuflado2{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 50vw;
    margin-left: 30vw;
    width: 10vw;
    height: 15vw;
    background-color: azure;
    border: 1vw solid rgb(166, 216, 219);
    border-radius: 1vw;
}

.pantaloncamuflado2p{
    position: absolute;
    margin-left: -0.1vw;
    text-align: center;
    font-size: 0.9vw;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10.1vw;
    width: 10.2vw;
    height: 5vw;
    background-color: rgb(133, 233, 233);
    border-radius: 0.5vw;

}

.pantaloncamuflado2img{
    width: 10vw;
    height: 10vw;

}








